@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: v.$pale-blue;
    font-family: v.$font;
    font-size: 1.8rem;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.container {
    background-color: v.$white;
    min-width: 37.5rem;
    max-width: 73.6rem;

    @include m.desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 3.2rem;
        overflow: hidden;
        height: 51.2rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}