@use '../base/variables' as v;
@use '../base/mixins' as m;

.result {
    background: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
    border-radius: 0px 0px 3.2rem 3.2rem;
    box-shadow: 0px 3rem 6rem 0px rgba(61, 108, 236, 0.15);
    padding: 2.4rem 5.7rem 4rem 5.8rem;
    @include m.desktop{
        border-radius: 3.2rem;
        box-shadow: none;
        padding: 3.8rem 5.4rem 5.5rem 5.4rem;
        height: 51.2rem;
    }

    &__title {
        color: v.$light-lavender;
        text-align: center;
        font-weight: 700;
        line-height: normal;
        @include m.desktop{
            font-size: 2.4rem;
        }
    }

    &__level {
        color: v.$white;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        @include m.desktop{
            font-size: 3.2rem;
        }
    }

    &__explain {
        color: v.$light-lavender;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        margin-top: .8rem;
        @include m.desktop{
            margin-top: 1.4rem;
            font-size: 1.8rem;
        }
    }
}

.porcent {
    margin: 2.4rem auto;
    border-radius: 50%;
    background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
    width: 14rem;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include m.desktop{
        margin: 3.5rem auto 2.8rem auto;
        width: 20rem;
        height: 20rem;
    }

    &__big {
        color: v.$white;
        font-size: 5.6rem;
        font-weight: 800;
        line-height: 7.2rem;
        @include m.desktop{
            font-size: 7.2rem;
        }
    }

    &__small {
        color: v.$light-lavender;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: normal;
        display: block;
        text-align: center;
        opacity: 0.5168;
        @include m.desktop{
            font-size: 1.8rem;
        }
    }
}