@use '../base/variables' as v;
@use '../base/mixins' as m;

.summary {
    padding: 2.4rem 3rem 3rem 3rem;
    @include m.desktop{
        padding: 3.8rem 4rem 4.6rem 4rem;
        height: 51.2rem;
    }

    &__title {
        color: v.$dark-gray-blue;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: normal;
        @include m.desktop{
            font-size: 2.4rem;
        }
    }

    &__items {
        list-style: none;
        margin: 2.4rem 0 2.4rem 0;
        padding: 0;
        @include m.desktop{
            margin: 2.8rem 0 4.1rem 0;
        }
    }

    &__item {
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: normal;
        padding: 1.7rem 1.6rem 1.8rem 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1.2rem;
        @include m.desktop{
            font-size: 1.8rem;
            padding: 1.8rem 1.6rem;
            height: 5.6rem;
        }

        &--reaction {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55;

            & .item__type {
                color: #F55;
                position: relative;
                margin-left: 3.2rem;

                &::before {
                    content: '';
                    position: absolute;
                    left: -32px;
                    top: 0;
                    width: 2rem;
                    height: 2rem;
                    background-image: url(../img/icon-reaction.svg);
                }
            }
        }

        &--memory {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E;

            & .item__type {
                color: #FFB21E;
                position: relative;
                margin-left: 3.2rem;

                &::before {
                    content: '';
                    position: absolute;
                    left: -32px;
                    top: 0;
                    width: 2rem;
                    height: 2rem;
                    background-image: url(../img/icon-memory.svg);
                }
            }
        }

        &--verbal {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F;

            & .item__type {
                color: #00BB8F;
                position: relative;
                margin-left: 3.2rem;

                &::before {
                    content: '';
                    position: absolute;
                    left: -32px;
                    top: 0;
                    width: 2rem;
                    height: 2rem;
                    background-image: url(../img/icon-verbal.svg);
                }
            }
        }

        &--visual {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6;
            margin-bottom: 0;

            & .item__type {
                color: #1125D6;
                position: relative;
                margin-left: 3.2rem;

                &::before {
                    content: '';
                    position: absolute;
                    left: -32px;
                    top: 0;
                    width: 2rem;
                    height: 2rem;
                    background-image: url(../img/icon-visual.svg);
                }
            }
        }
    }

    & .item__porcent {
        color: v.$dark-gray-blue;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: normal;
        @include m.desktop{
            font-size: 1.8rem;
        }

        & span {
            opacity: .5;
        }
    }

    &__button {
        background: linear-gradient(to right, v.$dark-gray-blue 0%, v.$dark-gray-blue 100%);
        border: none;
        border-radius: 12.8rem;
        width: 100%;
        height: 5.6rem;
        padding: 1.7rem 0 1.7rem 0;
        color: v.$white;
        font-weight: 700;
        line-height: normal;
        transition: background 5s ease;
        @include m.desktop{
            font-size: 1.8rem;
            &:hover {
                background: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
                cursor: pointer;
            }
        }
    }
}